* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.outer__container {
  width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e6f9ff;
  background-image: url("./images/mr-wong-sVqrUN9RZIo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

h1 {
  margin: 0em auto 0.5em;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: hsl(0, 0%, 100%);
  text-align: center;
  background-color: hsla(330, 100%, 71%, 0.411);
  backdrop-filter: blur(5px);
  min-width: min-content;
}

p {
  max-width: 55ch;
  color: hsl(0, 3%, 16%);
  text-align: center;
  margin: 0 auto;
  background-color: hsla(264, 100%, 90%, 0.644);
  backdrop-filter: blur(5px);
  padding: 0.25em;
  border-radius: 5px;
}

img {
  max-width: 100%;
  max-height: 50vh;
  margin: 2em auto;
  border: 3px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px hsl(0, 0%, 50%);
}

#llama {
  cursor: pointer;
}
.img__container {
  max-width: 90%;
  height: 60%;
  margin: 0 auto;
}

/*-------
nav styles
--------*/
.nav,
ul {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #e0ccff;
  position: absolute;
  font-size: 1.3rem;
  width: 0px;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  padding: 0 0.25em;
  cursor: url("./iconmonstr-cat-7.svg"), pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.nav-list-item {
  list-style-type: none;
  padding: 0.5em 2em;
  cursor: url("./iconmonstr-cat-7.svg"), pointer;
}

.nav-list-item:hover {
  cursor: pointer;
  width: min-content;
  background-image: url("brush-stroke-banner-7.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("./iconmonstr-cat-7.svg"), pointer;
}

.nav-link {
  text-decoration: none;
  color: black;
  cursor: url("./iconmonstr-cat-7.svg"), pointer;
}

.nav-list-item:hover .nav-link,
.nav-list-item:focus .nav-link,
.nav-list-item:hover .close-menu-icon,
.nav-list-item:focus .close-menu-icon {
  color: white;
}
.open-menu {
  transform: rotate(180deg);
  padding-top: 1.25em;
}
.open-menu,
.close-menu {
  width: 3%;
  margin-left: auto;
  padding: 1em;
  list-style: none;
  cursor: url("./iconmonstr-cat-7.svg"), pointer;
}
.close-menu {
  margin-right: 1em;
}

.open-menu:hover,
.close-menu:hover,
.open-menu:focus,
.close-menu:focus {
  fill: #ff69b4;
}

svg {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
svg:hover,
svg:focus {
  fill: #ff69b4;
  transform: scale(1.3) translateX(0.5em);
}
/*-------
toggle styles
--------*/

.inactive-container {
  opacity: 60%;
  filter: blur(2px);
}

.active-nav {
  visibility: visible;
  width: 200px;
  opacity: 1;
}
