html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  min-width: 70px;
  max-width: 200px;
  margin: 1em;
  padding: 1em 2em;
  border-radius: 5px;
  border-width: 2px;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  position: relative;
  transition: color 400ms ease;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: white;
  /* border-width: 5px; */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 1400ms ease;
}

.btn:focus::before,
.btn:hover::before {
  transform: scale(1);
}

/* back button */
.btn-back {
  color: hotpink;
  border-color: hotpink;
}

.btn-back::before {
  background: rgba(255, 105, 180, 0.3);
  transform: scaleX(0);
  transform-origin: right;
}

.btn-back:focus::before,
.btn-back:hover::before {
  box-shadow: 0 0 2em 0.5em rgba(255, 105, 180, 0.4),
    inset 0 0 1em 0.2em rgba(255, 105, 180, 0.4);
  background-position: left;
  /* transform: scaleX(2); */
}

/* refresh button */
.btn-refresh {
  color: orange;
  border-color: orange;
}

.btn-refresh::before {
  background: rgba(255, 165, 0, 0.3);
  transform: scale(0);
  transform-origin: center;
}

.btn-refresh:focus::before,
.btn-refresh:hover::before {
  box-shadow: 0 0 2em 0.5em rgba(255, 165, 0, 0.5);
}

/* back next */
.btn-next {
  color: greenyellow;
  border-color: greenyellow;
}

.btn-next::before {
  background: rgba(172, 255, 47, 0.3);
  transform: scaleX(0);
  transform-origin: left;
}

.btn-next:focus::before,
.btn-next:hover::before {
  box-shadow: 0 0 2em 0.5em rgba(172, 255, 47, 0.4);
}

/* transition of a scale gives better performance according to KP */
