html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  min-width: 70px;
  max-width: 200px;
  margin: 1em;
  padding: 1em 2em;
  border-radius: 5px;
  border-width: 2px;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  position: relative;
  transition: color 400ms ease;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: white;
  /* border-width: 5px; */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 1400ms ease;
}

.btn:focus::before,
.btn:hover::before {
  transform: scale(1);
}

/* back button */
.btn-back {
  color: hotpink;
  border-color: hotpink;
}

.btn-back::before {
  background: rgba(255, 105, 180, 0.3);
  transform: scaleX(0);
  transform-origin: right;
}

.btn-back:focus::before,
.btn-back:hover::before {
  box-shadow: 0 0 2em 0.5em rgba(255, 105, 180, 0.4),
    inset 0 0 1em 0.2em rgba(255, 105, 180, 0.4);
  background-position: left;
  /* transform: scaleX(2); */
}

/* refresh button */
.btn-refresh {
  color: orange;
  border-color: orange;
}

.btn-refresh::before {
  background: rgba(255, 165, 0, 0.3);
  transform: scale(0);
  transform-origin: center;
}

.btn-refresh:focus::before,
.btn-refresh:hover::before {
  box-shadow: 0 0 2em 0.5em rgba(255, 165, 0, 0.5);
}

/* back next */
.btn-next {
  color: greenyellow;
  border-color: greenyellow;
}

.btn-next::before {
  background: rgba(172, 255, 47, 0.3);
  transform: scaleX(0);
  transform-origin: left;
}

.btn-next:focus::before,
.btn-next:hover::before {
  box-shadow: 0 0 2em 0.5em rgba(172, 255, 47, 0.4);
}

/* transition of a scale gives better performance according to KP */

/* fireworks */

.firework {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2f69;
}
.firework__container {
  position: relative;
}

.explosion {
  position: absolute;
  left: -2px;
  bottom: 0px;
  width: 4px;
  height: 80px;
  transform-origin: 50% 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.explosion::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #f5cf52;
}

.explosion:nth-child(1) {
  transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
  transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
  transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
  transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
  transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
  transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
  transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
  transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
  transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
  transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
  transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
  transform: rotate(330deg) translateY(-15px);
}
