*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corner: 5px;
  --pill: 50px;
  --width: 100%;
  --height: 100%;
  --shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  --clr-prmy: #ff53ce;
  --clr-scdy: #8df089;
  --clr-hlt: #a34d8b;
  --clr-foc: #793967;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Exo", sans-serif;
  background-image: linear-gradient(135deg, var(--clr-prmy), var(--clr-scdy));
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-height: 80vh;
  padding: 2em;
  width: 100vw;
}
.form > * {
  flex: 1 1 100%;
  max-width: 200px;
  min-width: 100px;
}

.form__group {
  position: relative;
  display: inline;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.input__box {
  border: none;
  border-radius: var(--pill);
  padding: 1em;
  width: var(--width);
  height: var(--height);
  box-shadow: var(--shadow);
}
.input__box:hover ~ .form__label,
.input__box:focus ~ .form__label {
  top: 5px;
  left: 20%;
  background-color: #fff;
}

.btn {
  display: inline;
  padding: 1em 2em;
  border-radius: var(--pill);
  width: var(--width);
  height: var(--height);
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  background-color: var(--clr-hlt);
  color: #fff;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  transform: rotate(10deg);
  background-color: var(--clr-foc);
}
