*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corner: 5px;
  --pill: 50px;
  --width: 100%;
  --height: 100%;
  --shadow: 2px 2px 3px 3px rgba(var(--clr-foc-num), 0.2);
  --clr-prmy: rgb(255, 83, 206);
  --clr-scdy: rgb(141, 240, 137);
  --clr-hlt: rgb(163, 77, 139);
  --clr-foc: rgb(var(--clr-foc-num));
  --clr-foc-num: 121, 57, 103;
}

body {
  font-family: "Exo", sans-serif;
}
/* grid and place-items: center is a really easy way of getting things centered, but remember to give a heigth for the container */
.form__container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: linear-gradient(135deg, var(--clr-prmy), var(--clr-scdy));
}
/* Flex wrap in the form element allows responsive layout without media queries */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-height: 80vh;
  padding: 2em;
  width: 100vw;
}
/* decides size of buttons and fields */
.form > * {
  flex: 1 1 100%;
  max-width: 200px;
  min-width: 100px;
}
/* putting the form elements in groups allows for better control */
.form__group {
  position: relative;
  display: inline;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.input__box {
  box-sizing: border-box;
  border: none;
  border-radius: var(--pill);
  padding: 1em;
  width: var(--width);
  height: var(--height);
  box-shadow: var(--shadow);
  background-color: white;
}
/* for this to work to label must be after the input in the html*/
/* .input__box:hover + .form__label,  */
.input__box:focus + .form__label,
.input__box:valid + .form__label {
  transform: translate(90%, 0) scale(0.8);
  transform-origin: right;
  color: rgba(var(--clr-foc-num), 0.9);
}
/* the valid selector needs "required" in the input attributes in the html.
This hides the label when the field has been filled in.*/
.input__box:valid + .form__label {
  color: rgba(var(--clr-foc-num), 0.4);
}

.btn {
  display: inline;
  padding: 1em 2em;
  border-radius: var(--pill);
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  background-color: var(--clr-hlt);
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
/* rotates the button on hover and focus */
.btn:hover,
.btn:focus {
  transform: rotate(5deg);
  background-color: var(--clr-foc);
}
