*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  padding: 2em;
  background-color: skyblue;
}

.form__group {
  margin: 2em auto;
}

.btn {
  display: block;
  margin: 0 auto;
}
