.bike__container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(135deg, var(--clr-prmy), var(--clr-scdy));
}

.bike {
  flex: 1 1 80%;
  max-height: 60%;
  max-width: 100vw;
}

.speech__bubble {
  max-width: 80vw;
  align-self: flex-end;
  height: min-content;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: var(--pill);
  text-align: center;
  margin: 2em auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.back {
  width: min-content;
  height: min-content;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
}
